th.head {
    background-color: #E3E3E3;
    padding: 6px 8px;
}

td {
    padding: 3px 8px;
    vertical-align: middle;
}

.highlight pre {
    background-color: #F0F0F0;
    border: 1px solid #D3D3D3;
}

#right-column {
    max-width: 1200px;
}

table.docutils th {
    width: 250px;
}
